<a href="/home"><button><b>Home</b></button></a>
<a href="/bookList"><button><b>Books</b></button></a>
<a href="/honesty"><button><b>Honesty</b></button></a>
<a href="/admin"><button><b>Admin</b></button></a>
<a href="/addnewbook"><button><b>Add New Book</b></button></a>