<div class="map" >
    <h3><blockquote>"I declare that this assignment is my own work in accordance with
            Seneca Academic Policy. No part of this assignment has been copied
            manually or electronically from any other source (including web sites)
            or distributed to other students. The only electronic source for examples for 
            this website is the Github provided by Siyavash Ghasseminia with the weekly code 
            samples. This is of course posted on a public Github as per the instructions which
            could be accessed by anyone."</blockquote></h3>
</div>
<div class="map" >
    <p>Name: Corinna Chang</p>
    <p>Student ID: 148394166</p>
    <p>Date: December 10, 2022</p>
</div>