<div>
    <h2>New Book</h2>
    <form action="/subscribe" method="POST">
        <input type="text" name="name" placeholder="Name" required="required" />
        <input type="text" name="author" placeholder="Author" required="required" />
        <button type="submit">Add</button>
    </form>
</div>